Schema/SecurePay.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2008 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://mheducation.com/SecurePayRequest/01" targetNamespace="http://mheducation.com/SecurePayRequest/01" elementFormDefault="qualified">
	<xs:complexType name="SecurePayMessage">
		<xs:sequence>
			<xs:element ref="tns:MessageInfo"/>
			<xs:element ref="tns:MerchantInfo"/>
			<xs:element ref="tns:RequestType"/>
			<xs:element ref="tns:Payment" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SecurePayMessage" type="tns:SecurePayMessage"/>
	<xs:complexType name="MessageInfo">
		<xs:sequence>
			<xs:element ref="tns:messageID"/>
			<xs:element ref="tns:messageTimestamp"/>
			<xs:element ref="tns:timeoutValue"/>
			<xs:element ref="tns:apiVersion"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="MessageInfo" type="tns:MessageInfo"/>
	<xs:complexType name="MerchantInfo">
		<xs:sequence>
			<xs:element ref="tns:merchantID"/>
			<xs:element ref="tns:password"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="MerchantInfo" type="tns:MerchantInfo"/>
	<xs:complexType name="RequestType" mixed="true"/>
	<xs:element name="RequestType" type="tns:RequestType"/>
	<xs:complexType name="Payment">
		<xs:sequence>
			<xs:element ref="tns:TxnList"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Payment" type="tns:Payment"/>
	<xs:complexType name="messageID" mixed="true"/>
	<xs:element name="messageID" type="tns:messageID"/>
	<xs:complexType name="messageTimestamp" mixed="true"/>
	<xs:element name="messageTimestamp" type="tns:messageTimestamp"/>
	<xs:complexType name="timeoutValue" mixed="true"/>
	<xs:element name="timeoutValue" type="tns:timeoutValue"/>
	<xs:complexType name="apiVersion" mixed="true"/>
	<xs:element name="apiVersion" type="tns:apiVersion"/>
	<xs:complexType name="merchantID" mixed="true"/>
	<xs:element name="merchantID" type="tns:merchantID"/>
	<xs:complexType name="password" mixed="true"/>
	<xs:element name="password" type="tns:password"/>
	<xs:complexType name="TxnList">
		<xs:sequence>
			<xs:element ref="tns:Txn"/>
		</xs:sequence>
		<xs:attribute name="count" type="xs:anySimpleType" use="required"/>
	</xs:complexType>
	<xs:element name="TxnList" type="tns:TxnList"/>
	<xs:complexType name="Txn">
		<xs:sequence>
			<xs:element ref="tns:txnType"/>
			<xs:element ref="tns:txnSource"/>
			<xs:element ref="tns:amount"/>
			<xs:element ref="tns:currency"/>
			<xs:element ref="tns:purchaseOrderNo"/>
			<xs:element ref="tns:txnID" minOccurs="0"/>
			<xs:element ref="tns:preauthID" minOccurs="0"/>
			<xs:element ref="tns:CreditCardInfo"/>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:anySimpleType" use="required"/>
	</xs:complexType>
	<xs:element name="Txn" type="tns:Txn"/>
	<xs:complexType name="txnType" mixed="true"/>
	<xs:element name="txnType" type="tns:txnType"/>
	<xs:complexType name="txnSource" mixed="true"/>
	<xs:element name="txnSource" type="tns:txnSource"/>
	<xs:complexType name="amount" mixed="true"/>
	<xs:element name="amount" type="tns:amount"/>
	<xs:complexType name="currency" mixed="true"/>
	<xs:element name="currency" type="tns:currency"/>
	<xs:complexType name="purchaseOrderNo" mixed="true"/>
	<xs:element name="purchaseOrderNo" type="tns:purchaseOrderNo"/>
	<xs:complexType name="txnID" mixed="true"/>
	<xs:element name="txnID" type="tns:txnID"/>
	<xs:complexType name="preauthID" mixed="true"/>
	<xs:element name="preauthID" type="tns:preauthID"/>
	<xs:complexType name="CreditCardInfo">
		<xs:sequence>
			<xs:element ref="tns:cardNumber"/>
			<xs:element ref="tns:cvv" minOccurs="0"/>
			<xs:element ref="tns:expiryDate" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CreditCardInfo" type="tns:CreditCardInfo"/>
	<xs:complexType name="DirectEntryInfo">
		<xs:sequence>
			<xs:element ref="tns:bsbNumber"/>
			<xs:element ref="tns:accountNumber"/>
			<xs:element ref="tns:accountName"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DirectEntryInfo" type="tns:DirectEntryInfo"/>
	<xs:complexType name="cardNumber" mixed="true"/>
	<xs:element name="cardNumber" type="tns:cardNumber"/>
	<xs:complexType name="cvv" mixed="true"/>
	<xs:element name="cvv" type="tns:cvv"/>
	<xs:complexType name="expiryDate" mixed="true"/>
	<xs:element name="expiryDate" type="tns:expiryDate"/>
	<xs:complexType name="bsbNumber" mixed="true"/>
	<xs:element name="bsbNumber" type="tns:bsbNumber"/>
	<xs:complexType name="accountNumber" mixed="true"/>
	<xs:element name="accountNumber" type="tns:accountNumber"/>
	<xs:complexType name="accountName" mixed="true"/>
	<xs:element name="accountName" type="tns:accountName"/>
</xs:schema>